$rerc-color: #ffcf01;

html {
  scroll-behavior: smooth;
  max-width: 100vw;
  overflow-x: hidden;
}

.btn {
  cursor: pointer;
  border: none;
  background: inherit;
  font-size: inherit;
  font-family: inherit;
}

.section {
  min-height: 100vh;
  @media screen and (max-width: 1000px) {
    min-height: unset;
  }
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
main .section {
  max-width: 1000px;
  width: 100%;
  box-sizing: border-box;
  @media screen and (max-width: 1000px) {
    padding: 0 1rem;
    max-width: 100vw;
  }
}

.section-link {
  cursor: pointer;
  color: #333;
  &:hover {
    color: red;
  }
  &.is-active {
    color: red;
    &:hover {
      color: brown;
    }
  }
}

.drawer-menu-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  .drawer-menu-background {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    transition: 0.5s ease opacity;
    opacity: 0;
  }

  .drawer-menu {
    position: absolute;
    top: 0;
    left: -300px;
    height: 100%;
    width: 300px;
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background: white;
    transition: 0.5s ease left;
    box-sizing: border-box;
    pointer-events: all;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .menu-header {
      margin-top: 1rem;
    }
  }

  .drawer-button {
    position: fixed;
    left: 0.5rem;
    top: 0.5rem;
    cursor: pointer;
    pointer-events: all;
    font-size: 2rem;
    transition: 0.5s ease all;
  }

  &.is-open {
    .drawer-menu-background {
      opacity: 0.3;
      pointer-events: all;
      cursor: pointer;
    }
    .drawer-menu {
      left: 0;
    }
    .drawer-button {
      font-size: 1.5rem;
      color: black;
    }
  }
}

.ui-wrapper {
  position: relative;
  .ui-container {
    pointer-events: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    // justify-content: flex-end;
    align-items: center;
    .ui-contents {
      pointer-events: all;
      padding: 1rem;
      display: flex;
      flex-flow: row nowrap;
    }
  }
}

.ui-group {
  display: flex;
  flex-flow: row nowrap;
  &:not(:last-of-type) {
    margin-right: 1rem;
  }

  .light-btn {
    background: none;
    border: none;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    font-style: italic;
    &.is-active {
      font-weight: 800;
    }
  }
}

.ui-label {
  padding-right: 0.5rem;
}

.sliding-bar-container {
  cursor: pointer;
  background: grey;
  width: 5rem;
  height: 1.2rem;
  position: relative;

  .sliding-bar-actual {
    position: absolute;
    left: 0;
    top: 0;
    width: 3rem;
    height: 1.2rem;
    background: black;
    pointer-events: none;
  }
}

.Home,
.HomeContainer {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  // .video-container {
  //   // pointer-events: none;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: -1;
  //   opacity: .1;
  // }
  .home-contents {
    max-width: 1000px;
    width: 1000px;
    padding: 2rem;
    // background: rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  .home-title {
    font-size: 3rem;
    margin: 0;
  }
  .home-subtitle {
    font-size: 2rem;
    margin: 0;
  }
  .home-main-credits {
    margin: 0;
  }
  .short-credits {
  }
  .abstract {
  }
  .menu-container {
    .menu {
      list-style: none;
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      grid-auto-rows: minmax(100px, auto);
      li {
        display: flex;
        justify-content: stretch;
        .section-link {
          background: rgba(0, 0, 0, 0.2);
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.5s ease all;
          &:hover {
            background: rgba(0, 0, 0, 0.8);
            color: white;
          }
        }
      }
    }
  }
}

.section.voyageurs {
  $part-height: calc(100vh - 3rem);
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  article {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    .part {
      flex: 1;
      // max-height: $part-height;
      // min-height: $part-height;
      .TweetsMap-container,
      .VoyageVideo-container {
        max-height: $part-height;
        min-height: $part-height;
      }
    }
  }
}

.TweetsMap {
  .departements {
    path {
      stroke: grey;
      // fill: transparent;
    }
  }

  // .rivieres {
  //   path {
  //     stroke: blue;
  //     fill: transparent;
  //   }
  // }
  .reseau-ferre {
    path {
      opacity: 0.1;
    }
  }

  .map-layer {
    opacity: 1;
    transition: 0.5s all ease;
    &.is-hidden {
      opacity: 0;
    }
  }
  .edges {
    .edge {
      transition: 0.5s ease all;
      stroke: grey;
      stroke-width: 1;
      stroke-opacity: 0.1;
      &.segment {
        stroke: $rerc-color;
        stroke-width: 2px;
        stroke-opacity: 0.5;
      }
      &.is-active {
        stroke: red;
      }
    }
  }
  .nodes {
    .node {
      transition: 0.5s ease all;
      pointer-events: all;
      circle {
        stroke: white;
        opacity: 1;
        cursor: pointer;
        transition: 0.5s ease all;
      }

      &.station {
        circle {
          fill: $rerc-color;
        }
      }
      &.twitter_user {
        circle {
          fill: turquoise;
        }
      }
      &.is-active,
      &.is-active-secondary {
        circle {
          stroke: red;
          // stroke-width: 3;
        }
      }
      &.station.is-active {
        circle {
          fill: red;
        }
      }
    }
  }

  .tooltip-element-wrapper {
    pointer-events: none;
    .tooltip-element-container {
      transition: 0.5s ease opacity;
      pointer-events: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      &.has-contents {
        opacity: 1;
      }
      .tooltip {
        background: black;
        color: white;
        padding: 0.2rem;
        font-size: 8px;
        position: absolute;
      }
    }
  }
}
.analysis-panel-wrapper {
  pointer-events: none;
  .analysis-panel-container {
    pointer-events: all;
    position: absolute;
    right: 1rem;
    top: 1rem;
    transition: .5s ease all;
    background: rgba(100, 100, 100, 0.3);
    width: 30%;
    max-height: calc(100% - 3rem);
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    @media screen and (max-width: 1000px) {
      width: calc(100% - 2rem);
    }

    .analysis-panel-header {
      display: flex;
      flex-flow: row nowrap;
      .analysis-title {
        flex: 1;
        padding: 1rem;
        margin: 0;
        font-weight: normal;
      }
    }
    .analysis-panel-body {
      box-sizing: border-box;
      max-height: 0;
      overflow: auto;
      transition: 0.5s ease all;

      .analysis-items-list {
        padding: 0;
        margin: 0;
        // overflow: auto;
      }
      .analysis-item {
        padding: 1rem;
        background: rgba(200, 200, 200, 0);
        transition: 0.5s ease all;
        cursor: pointer;

        .analysis-item-header {
          h4 {
            margin: 0;
          }
        }

        .analysis-item-body {
          overflow: hidden;
          max-height: 0;
          transition: 0.5s ease all;
        }
        &:hover {
          background: rgba(200, 200, 200, 0.2);
        }
        &.is-active {
          background: rgba(200, 200, 200, 0.8);
          .analysis-item-body {
            max-height: 600vh;
          }
          &:hover {
            background: rgba(200, 200, 200, 1);
          }
        }
      }
    }

    &.is-open {
      background: rgba(230, 230, 230, 0.8);
      .analysis-panel-body {
        max-height: calc(60vh - 1rem);
      }
    }
  }
}

.VoyageVideo {
  position: relative;
}

.tweets-overlay-container {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  overflow: hidden;
  .tweet-content {
    padding: 0.5rem;
    position: absolute;
    font-size: 10px;
    overflow: hidden;
    background: black;
    color: white;
    p {
      margin: 0;
    }
  }
}

.tooltip-container {
  pointer-events: none;
  position: relative;
  .tooltip-wrapper {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: -2rem;
    width: 20rem;
    left: -10rem;
    justify-content: center;

    .tooltip-content {
      background: black;
      color: white;
      font-size: 9px;
      padding: 0.5rem;
    }
  }
  opacity: 0;
  transition: 0.5s ease opacity;
  &.is-visible {
    opacity: 1;
  }
}

.timeline {
  cursor: pointer;
  .segment {
    pointer-events: none;
    .bg-rect {
      stroke: white;
      fill: $rerc-color;
      pointer-events: all;
      transition: 0.5s ease all;
    }
    &.stop {
      .bg-rect {
        fill: #ef9343;
      }
    }

    text {
      font-size: 8px;
    }

    &.status-past {
      .bg-rect {
        fill: lightgrey;
      }
      // &.stop {
      //   .bg-rect {
      //     fill: darkgrey;
      //   }
      // }
    }
    &.status-future {
      .bg-rect {
        opacity: 0.5;
      }
    }
  }

  .progress-bar {
    pointer-events: none;
    fill: black;
    transition: 0.5s ease all;
    opacity: 0;
  }

  &:hover {
    .progress-bar {
      opacity: 0.3;
    }
  }
}

.layout-text-only {
  column-count: 2;
  column-gap: 1rem;
  @media screen and (max-width: 1000px) {
    column-count: 1;
  }
}

.layout-illustrated {
  display: grid;
  grid-template-columns: auto auto;
  @media screen and (max-width: 1000px) {
    display: block;
  }
}

.ImageGallery {
  img {
    cursor: pointer;
    transition: 0.5s ease all;
    &:hover {
      filter: contrast(200%);
    }
  }
  figure,
  figcaption,
  h4,
  p {
    margin: 0;
    padding: 0;
  }
  .main-image-container {
    img {
      max-height: 100%;
      height: 100%;
    }
    figcaption {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      h4 {
        margin-right: 1rem;
      }
    }
  }
  .carousel-images-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 1rem;
    .carousel-image {
      img {
        max-width: 5rem;
      }
      &:not(:last-of-type) {
        margin-right: 0.5rem;
      }
    }
  }
}

.map-layer {
  &.rivieres {
    path {
      stroke: blue;
      fill: transparent;
    }
  }
  &.reseau-ferre {
    path {
      stroke: grey;
      stroke-dasharray: 4px;
      fill: transparent;
    }
  }
  &.cadastre {
    path {
      stroke: grey;
      opacity: 0.1;
      fill: transparent;
    }
  }
}

.Philippe-container {
  max-height: 100vh;
  max-width: 100vw;
  box-sizing: border-box;
  .philippe {
    max-width: 100vw;
    box-sizing: border-box;
    .paths-container {
      .path-group {
        cursor: pointer;
        .background-path {
          fill: transparent;
          stroke: grey;
          transition: 0.5s ease all;
        }
        &:hover {
          .background-path {
            stroke-width: 3;
          }
        }
        &.is-active {
          .background-path {
            stroke: black;
            stroke-width: 3px;
          }
        }
      }
    }

    .Capsule {
      cursor: pointer;
      .capsule-tooltip-wrapper {
        pointer-events: none;
        transition: 0.5s ease all;
        opacity: 0;

        .capsule-tooltip-container {
          width: 100%;
          height: 100%;
          display: flex;
          flex-flow: row nowrap;
          align-items: flex-end;
          justify-content: center;
          > div {
            background: black;
            color: white;
            padding: 0.5rem;
            font-size: 12px;
          }
        }
      }

      .background-circle {
        stroke: white;
        transition: 0.5s ease all;
      }
      .evenement {
        fill: black;
      }
      .son_oiseau {
        fill: blue;
      }
      .capsule {
      }
      &:hover,
      &.is-active {
        .capsule-tooltip-wrapper {
          opacity: 1;
        }
      }
    }

    .timeline-container {
      .timeline-background {
        fill: lightgrey;
        stroke: none;
        cursor: pointer;
      }
      .timeline-marker {
        pointer-events: none;
        fill: black;
        fill-opacity: 0.8;
        stroke: none;
      }
    }

    .video-container {
      cursor: pointer;
    }
  }
}
